{% extends "stock/base.html" %}
{% load static %}

{% block wiki_pagetitle %}result{% endblock %}

{% block wiki_contents %}

<div class="row">
      <h3 class="p-2"> {{ data.1 }} : {{ ticker }} </h3>
      <div class="col-6 dropdown">
            <a class="dropdown-toggle btn btn-link" data-toggle="dropdown">기업정보</a>
            <div class="dropdown-menu col-sm " aria-expanded="false">
                  업종 : {{data.3}} <br>
                  주요제품 : {{data.4}} <br>
                  상장일 : {{data.5}} <br>
                  결산월 : {{data.6}} <br>
                  대표자명 : {{data.7}} <br>
                  홈페이지 : <a href="{{data.8}}">{{data.8}}</a> <br>
                  지역 : {{data.9}} <br>
            </div>
      </div>

</div>

<div id="chartdiv" style="width:100%; height:500px;"></div>



{% endblock %}

{% block jquery %}

<script src="https://www.amcharts.com/lib/4/core.js}"></script>
<script src="https://www.amcharts.com/lib/4/charts.js}"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js}"></script>

<script>
      var ticker = "{{ticker}}"

      $.ajax({
            type: "GET",
            url: "{% url 'api-amchart-data' ticker=ticker %}",
            success: function (apidata) {
                  console.log("success")
                  drawChart(apidata)
            },
            error: function (error_data) {
                  console.log("error")
                  console.log('url:', url)
                  console.log(error_data)
            }
      });

      function drawChart(drawdata) { // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.XYChart);
            chart.numberFormatter.numberFormat = "#.#";
            // Add data
            chart.data = drawdata;
            // console.log('data:',chart.data);

            // Create axes
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.logarithmic = false;
            valueAxis.defaultState.transitionDuration = 500;
            valueAxis.strictMinMax = true;
            // valueAxis.min = 0.1;
            // valueAxis.max = drawdata.yaxismax;
            // valueAxis.extraMax = 0.2;

            // Create series
            var series = chart.series.push(new am4charts.LineSeries());
            var series2 = chart.series.push(new am4charts.LineSeries());

            series.dataFields.valueY = "value1";
            series.dataFields.dateX = "labels";
            series.name = "종가";
            series.tooltip.label.minWidth = 40;
            series.tooltip.getFillFromObject = false;
            series.tooltip.background.fill = am4core.color("#f27363");
            series.tooltipText = "{name}:{value1}"
            series.stroke = am4core.color("#f27363");
            series.strokeWidth = 2;
            series.minBulletDistance = 10;
            // series.connect = false;
            //series 2
            series2.dataFields.valueY = "value2";
            series2.dataFields.dateX = "labels";
            series2.name = "예측";
            series2.tooltip.label.minWidth = 40;
            // series2.tooltip.background.fill = am4core.color("#7083c1");
            series2.tooltipText = "{name}:{value2}";
            series2.stroke = am4core.color("#7083c1");
            series2.strokeWidth = 2;
            series2.minBulletDistance = 10;
            // series2.connect = false;

            // Make a panning cursor
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.behavior = "panXY";

            
            // Create vertical scrollbar and place it before the value axis
            chart.scrollbarY = new am4core.Scrollbar();
            chart.scrollbarY.parent = chart.leftAxesContainer;
            chart.scrollbarY.toBack();
            // chart.scrollbarY.hide(true);

            // Create a horizontal scrollbar with previe and place it underneath the date axis
            chart.scrollbarX = new am4charts.XYChartScrollbar();
            chart.scrollbarX.series.push(series);
            chart.scrollbarX.parent = chart.bottomAxesContainer;

            chart.events.on("ready", function () {
                  dateAxis.zoom({ start: 0.85, end: 1 });
            });

      }

</script>

{% endblock %}