{% extends "stock/base.html" %}
{% load static %}

{% block jquery %}
<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/charts.js"></script>
<script src="//www.amcharts.com/lib/4/maps.js"></script>
<script>
      var ticker = "{{ticker}}"
      var data1 = []
      var data2 = []
      var labels = []

      $.ajax({
            type: "GET",
            url: "{% url 'api-chart-data' ticker=ticker %}",
            success: function (data) {
                  console.log("success")
                  labels = data.labels
                  data1 = data.value1
                  data2 = data.value2
                  
                  setChart()
            },
            error: function (error_data) {
                  console.log("error")
                  console.log('url:', url)
                  console.log(error_data)
            }
      });

      function setChart() {
            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                  type: 'line',
                  data: {
                        labels: labels,
                        datasets: [{
                              label: '종가',
                              data: data1,
                              fill: false,
                              lineTension: 0,
                              borderColor: 'rgba(255,99,132,1)',
                              borderWidth: 1,
                              // showLine: false,
                              pointRadius: 0,
                              // pointBackgroundColor: [],
                              // pointBorderColor: [],
                        },
                        {
                              label: '예측',
                              data: data2,
                              fill: false,
                              lineTension: 0,
                              borderColor: 'rgba(75, 192, 192, 1)',
                              borderWidth: 1,
                              // showLine: false,
                              pointRadius: 1,
                              // pointBackgroundColor: [],
                              // pointBorderColor: [],
                        }]
                  },
                  options: {
                        animation: false,
                        responsive: false,
                        // maintainAspectRatio: true,
                        legend: {
                              display: true,
                              position: 'top',
                        },
                        hover: {
                              mode: 'label'
                        },
                        title: {
                              display: true,
                              text: "{{ data.1 }} : {{ ticker }}"
                        },
                  }
            })
      }
</script>
{% endblock %}

{% block wiki_pagetitle %}result{% endblock %}


{% block wiki_contents %}

<div>
      <form class="form-inline mt-2 mt-md-0 mx-auto" method="GET" action="{% url 'stock-search' %}">
            <div class="input-group mx-auto text-center">
                  <input class="form-control mr-sm-2 search" type="text" name="q" placeholder="종목명 or 종목코드" autocomplete="off" 
                        {% if keyword %} 
                        value="{{ keyword }}" 
                        {% endif %} >
                  <button class="btn btn-dark" type="submit">검색</button>
                  <ul class="suggestions" style="margin-top: 40px;"></ul>
            </div>
      </form>

      


      <table class="table">
            <thead>
                  <tr>
                        <th>
                              종목코드
                        </th>
                        <th>
                              종목명
                        </th>

                        <th>
                              주가(12개월)
                        </th>
                  </tr>
            </thead>
            <tbody>
                  {% for item in file_content %}
                  <tr>

                        <td>{{ item.2 }}</td>
                        <td><a href="{% url 'stock-detail' ticker_id=item.0 %}">{{ item.1 }}</a></td>

                        <td>
                              -
                        </td>

                  </tr>
                  {% endfor %}
            </tbody>
      </table>
      {% if file_content.has_previous or file_content.has_next %}
      <div class="pagination text-xs-center">
            <span class="step-links">
                  {% if file_content.has_previous %}
                  <a href="?page=1" class="btn btn-primary btn-sm mb-4"><span class="fa fa-fast-backward"></span></a>
                  <a href="?page={{ file_content.previous_page_number }}" class="btn btn-primary btn-sm mb-4"><span
                              class="fa fa-step-backward"></span></a>
                  {% else%}
                  <a href="#" class="btn btn-primary btn-sm mb-4 disabled"><span class="fa fa-fast-backward"></span></a>
                  <a href="#" class="btn btn-primary btn-sm mb-4 disabled"><span class="fa fa-step-backward"></span></a>
                  {% endif %}

                  {% for num in file_content.paginator.page_range %}
                  {% if file_content.number == num %}
                  <a href="#" class="btn btn-primary btn-sm mb-4 disabled">{{ num }}</a>
                  {% elif num > file_content.number|add:'-7' and num < file_content.number|add:'7' %} 
                  <a href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                        class="btn btn-outline-primary btn-sm mb-4">{{ num }}</a>
                  {% endif %}
                  {% endfor %}

                  {% if file_content.has_next %}
                  <a href="?page={{ file_content.next_page_number }}" class="btn btn-primary btn-sm mb-4"><span
                              class="fa fa-step-forward"></a>
                  <a href="?page={{ file_content.paginator.num_pages }}" class="btn btn-primary btn-sm mb-4"><span
                              class="fa fa-fast-forward"></a>
                  {% else%}
                  <a href="#" class="btn btn-primary btn-sm mb-4 disabled"><span class="fa fa-step-forward"></a>
                  <a href="#" class="btn btn-primary btn-sm mb-4 disabled"><span class="fa fa-fast-forward"></a>
                  {% endif %}
            </span>
      </div>
      {% endif %}

</div>
{% endblock %}