{% extends "stock/base.html" %}
{% load static %}

{% block wiki_pagetitle %}result{% endblock %}

{% block wiki_contents %}

<div class="row">
      <h3 class="p-2"> {{ data.1 }} : {{ ticker }} </h3>
      <div class="col-6 dropdown">
            <a class="dropdown-toggle btn btn-link" data-toggle="dropdown">기업정보</a>
            <div class="dropdown-menu col-sm " aria-expanded="false">
                  업종 : {{data.3}} <br>
                  주요제품 : {{data.4}} <br>
                  상장일 : {{data.5}} <br>
                  결산월 : {{data.6}} <br>
                  대표자명 : {{data.7}} <br>
                  홈페이지 : <a href="{{data.8}}">{{data.8}}</a> <br>
                  지역 : {{data.9}} <br>
            </div>
      </div>

</div>

<div id="chartdiv" style="width:100%; height:500px;"></div>



{% endblock %}

{% block jquery %}

<script src="{% static 'stock/amcharts4/core.js' %}"></script>
<script src="{% static 'stock/amcharts4/charts.js' %}"></script>
<script src="{% static 'stock/amcharts4/themes/animated.js' %}"></script>

<script>
      var ticker = "{{ticker}}"
      var data1 = []
      var data2 = []
      var labels = []
      var result = []


      $.ajax({
            type: "GET",
            url: "{% url 'api-amchart-data' ticker=ticker %}",
            success: function (data) {
                  console.log("success")
                  labels = data.labels
                  value1 = data.value1
                  // value2 = data.value2

                  // labels.forEach((labels, i) => result.push({ "date": labels, "value": value1[i] }));
                  // console.log(data);

                  drawChart(data)
            },
            error: function (error_data) {
                  console.log("error")
                  console.log('url:', url)
                  console.log(error_data)
            }
      });

      function drawChart(data) { // Themes begin
            am4core.useTheme(am4themes_animated);
            // Themes end

            // Create chart instance
            var chart = am4core.create("chartdiv", am4charts.XYChart);
            console.log('check');

            // Add data
            chart.data = data;

            // Create axes
            var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

            // Create series
            var series = chart.series.push(new am4charts.LineSeries());
            series.dataFields.valueY = "value1";
            series.dataFields.dateX = "labels";
            series.tooltipText = "{value1}"
            series.strokeWidth = 2;
            series.minBulletDistance = 15;

            // Drop-shaped tooltips
            series.tooltip.background.cornerRadius = 20;
            series.tooltip.background.strokeOpacity = 0;
            series.tooltip.pointerOrientation = "vertical";
            series.tooltip.label.minWidth = 40;
            series.tooltip.label.minHeight = 40;
            series.tooltip.label.textAlign = "middle";
            series.tooltip.label.textValign = "middle";

            // Make bullets grow on hover
            var bullet = series.bullets.push(new am4charts.CircleBullet());
            bullet.circle.strokeWidth = 2;
            bullet.circle.radius = 4;
            bullet.circle.fill = am4core.color("#fff");

            var bullethover = bullet.states.create("hover");
            bullethover.properties.scale = 1.3;

            // Make a panning cursor
            chart.cursor = new am4charts.XYCursor();
            chart.cursor.behavior = "panXY";

            // Create vertical scrollbar and place it before the value axis
            chart.scrollbarY = new am4core.Scrollbar();
            chart.scrollbarY.parent = chart.leftAxesContainer;
            chart.scrollbarY.toBack();

            // Create a horizontal scrollbar with previe and place it underneath the date axis
            chart.scrollbarX = new am4charts.XYChartScrollbar();
            chart.scrollbarX.series.push(series);
            chart.scrollbarX.parent = chart.bottomAxesContainer;

            chart.events.on("ready", function () {
                  dateAxis.zoom({ start: 0.79, end: 1 });
            });

      }

</script>

{% endblock %}